<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474336647014-qk4pns0ksm2teauj4tpvkrr9ndspdgj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474336647014-qk4pns0ksm2teauj4tpvkrr9ndspdgj3</string>
	<key>API_KEY</key>
	<string>AIzaSyBD2WHitQSp6S_gjKtYGEmXu85l3Ll4V1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>474336647014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jawaher.Jawaher-Lab1-Chat-App</string>
	<key>PROJECT_ID</key>
	<string>chatapp-1fc8c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-1fc8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474336647014:ios:00efc890a6dbdc5a539aa7</string>
</dict>
</plist>